
.cover-container{
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    height: calc(100vh - 4rem);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color:  var(--home-cover-bg-tint);
    background-blend-mode: multiply;
    box-shadow: rgb(0 0 0 / 50%) 120px -50px 90px -1px inset, rgb(0 0 0 / 99%) 0px 18px 16px -18px inset
    
    /* background-attachment: fixed; */
}

.cover-content{
    flex-grow: 1;
    display: flex;
    text-shadow: var(--home-cover-text-shadow);
    font-family: var(--home-cover-fontfamily);
}

.cover-content .content-details{
    background: var(--home-cover-text-bg);
    padding: 1rem 1rem 2rem 3rem;
    border-radius: 0px 75px 0px 0px;
    width: 35rem;
    margin-bottom: 3rem;
    transition: ease-in-out 0.2s all;
    box-shadow: 0 10px 20px -6px black;
}
.cover-content .content-details:hover{
    box-shadow: 0 0 10px #ff0000;
    transform: scale(1.05);
}

.content-details .small-details{
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
}

#cover-genres{
    margin:0 1rem;
}
.cover-content h1{
    font-size: 4rem;
    font-family: var(--home-cover-heading-fontfamily);
    margin: 0;
}


.covers-list{
    display: flex;
    align-items: flex-end;
    margin: 2.5rem;
    position: absolute;
    bottom: 0;
    right: 0;
}
.cover-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 10px 20px -6px black;
}
.cover-card img:hover{
    cursor:pointer;
    transition: all 0.3s ease-in-out;
    transform: scale(1.2);
}
.cover-card{
    width: 8rem;
    height: 12rem;
    margin: 0.3rem;
}

.covers-list .active-cover{
    border: 2px solid skyblue;
}

@media only screen and (max-width: 1500px){
    .cover-card{
        max-width: 7rem;
        height: 11rem;
    }

}

@media only screen and (max-width: 1400px){
    .cover-card{
        max-width: 6rem;
        height: 10rem;
    }

}

@media only screen and (max-width: 1320px){
    .cover-card{
        max-width: 0rem;
        height: 0rem;
        border: 7px solid deepskyblue;
        border-radius: 50%;
    }
    .covers-list .active-cover{
        border: 8px solid deeppink;

        
    }

}
@media only screen and (max-width: 845px){
    .covers-list{
        margin: 1rem;
    }
}
@media only screen and (max-width: 635px){
    .cover-content h1{
        font-size: 3rem;
    }
    .cover-content .content-details{
        width: auto;
        padding-right: 3rem;
    }
}
@media only screen and (max-width: 440px){
    .cover-content h1{
        font-size: 3rem;
    }
    .cover-content .content-details{
        padding-right: 1rem;
        width: 80%;
    }
    :root{
        font-size: 90%;
    }

}
@media only screen and (max-width: 320px){
    :root{
        font-size: 80%;
    }
}

.link{
    color: inherit;
    text-decoration: none; 
}

